// feedback styles ==============
.feedback-wrapper {
  // padding: 25px 20px;
  // position: relative;
}
.fb-form__wrapper {
}

.fb-box {
  width: 100%;
  border-radius: 6px;
  border: 1px solid var(--dropdown-border);
  background-color: var(--main-area-bg);
  padding: 15px;
}

// Feedback form styles
.fb-form {
  width: 100%;
  border-radius: 6px;
  // border: 1px solid var(--dropdown-border);
  // background-color: var(--main-area-bg);
  // padding: 15px;
  // margin-bottom: 25px;
  color: var(--main-color);

  display: flex;
  flex-direction: column;
  &__title {
    margin: 0;

    font-size: 15px;
    font-weight: 600;
    line-height: 1;
    color: var(--main-color);
    text-transform: capitalize;
    margin-bottom: 10px;
  }

  &__subtitle {
    margin-bottom: 25px;

    font-size: 13px;
    font-weight: 400;
    line-height: 1;
    color: var(--description-text-color);
    text-transform: capitalize;
  }

  &__field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    width: 100%;

    &:not(:last-child) {
      margin-bottom: 16px;
    }

    &.flex-row {
      flex-direction: row;
      justify-content: space-between;
    }

    &.dropdown-field {
      max-height: 0;
      overflow: hidden;
      border: 1px solid transparent;
      border-radius: 0 0 6px 6px;
      border-top: none;
      background-color: transparent;

      &.showDropdownField {
        max-height: 60px;
        padding: 10px;
        overflow: auto;
        border: 1px solid transparent;
        border-top: none;
        background-color: var(--top-bar-bg);
      }
    }
  }

  &__label {
    display: block;

    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 10px;
  }

  &__input,
  &__textarea {
    width: 100%;

    // background-color: var(--main-area-bg);
    background-color: var(--top-bar-bg);
    // border: 1px solid var(--input-bg);
    border: 1px solid transparent;

    border-radius: 4px;
    color: var(--main-color);
    font-size: 13px;
    font-weight: 500;

    line-height: 1;
    overflow: hidden;

    transition: all 250ms ease-in-out;

    &:hover {
      border: 1px solid var(--focus-input-border-color);
      outline: none;
    }

    &:focus {
      border: 1px solid var(--focus-input-border-color);
      outline: none;
    }

    &::placeholder {
      color: var(--description-text-color);
    }
  }

  &__input {
    height: 32px;
    padding: 0 12px;
    background-color: #1e1e1e;
  }

  &__textarea {
    background-color: #1e1e1e;
    height: 150px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 8px;
    padding-left: 12px;
    resize: none;
    overflow-y: auto;

    &:hover::-webkit-scrollbar-thumb {
      background: rgba(255, 255, 255, 0.2);
    }
    &::-webkit-scrollbar {
      width: 4px;
      background: transparent;
      border-radius: 0px;
    }

    &::-webkit-scrollbar-thumb {
      background: transparent;
      border-radius: 2px;
    }
  }

  &__add-image {
    height: 32px;
    width: 32px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 4px;
    // border: 1px solid var(--dropdown-border);
    border: none;
    cursor: pointer;
    background-color: var(--btn-bg);

    color: var(--secondary-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 1;

    transition: 300ms;

    &:hover {
      // border: 1px solid var(--focus-input-border-color);
      background-color: var(--btn-bg-hover);
      color: var(--main-color);
    }

    label {
      display: block;
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
      position: relative;
      cursor: pointer;
    }
    i {
      display: block;
      line-height: 1;

      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      pointer-events: none;
    }
  }

  &__button {
    font-size: 14px;
    line-height: 1;
    font-weight: 500;
    padding: 0 12px;
    height: 32px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 4px;
    cursor: pointer;

    background: transparent;
    color: var(--secondary-color);
    border: none;
    outline: none;
    box-shadow: none;
    overflow: hidden;

    transition: 300ms;
    &:hover {
      color: var(--main-color);
      background: rgba(255, 255, 255, 0.1);
    }

    &.return-btn {
      margin-right: 15px;
      transform: translateY(-10px);
      i {
        font-size: 18px;
        margin-right: 10px;
      }
    }
  }
  &__button--accent {
    font-size: 14px;
    line-height: 1;
    font-weight: 500;
    padding: 0 12px;
    height: 32px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 4px;
    cursor: pointer;

    color: var(--secondary-color);
    border: none;
    outline: none;
    box-shadow: none;
    overflow: hidden;

    transition: all 300ms;

    background-image: linear-gradient(
      to right,
      rgba(10, 199, 254, 0.85) 0%,
      rgba(70, 161, 252, 0.95) 40%,
      rgba(26, 140, 255, 1) 75%
    );
    background-size: 200%;
    background-position: right 10px;
    &:hover {
      color: var(--main-color);
      background-position: left;
    }
  }
}

.fb-posts {
  &__header {
    display: flex;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 10px;
  }

  &__title {
    display: flex;
    align-items: center;
    height: 100%;

    font-size: 15px;
    font-weight: 600;
    line-height: 1;
    color: var(--main-color);

    margin-right: auto;
    margin-bottom: 0;
  }

  .notify-select-menu {
    background: var(--dropdown-bg) !important;

    color: var(--topbar-color);
    line-height: 1;
    padding: 10px;
    font-size: 13px;
    font-weight: normal;

    transform: translate3d(-50%, 25px, 0px) !important;
    width: 250px;
    inset: 0px -200px auto auto !important; 
  }

  &__select {
    margin: 0 5px;

    cursor: pointer;
    // height: 36px;
    // position: relative;

    .select-arrow-pointer {
      margin-left: 2px;
      color: var(--main-color);

      display: flex;
      flex-direction: column;

      font-size: 7px;
      line-height: 1;
    }

    .select-btn {
      background-color: transparent;
      box-shadow: none;
      border: none;
      outline: none;

      color: var(--accent-color);
      font-size: 15px;
      font-weight: 600;
      line-height: 1;

      display: flex;
      align-items: flex-end;
    }
    .select-menu {
      background: var(--dropdown-bg) !important;
      padding: 0;

      opacity: 0;
      pointer-events: none;

      &.show {
        opacity: 1;
        pointer-events: all;
      }
    }

    .select-submenu {
      list-style: none;
      margin: 0;
      padding: 0;
      &:first-child {
        border-right: 1px solid var(--dropdown-border);
      }
    }

    .select-item {
      color: var(--topbar-color);
      cursor: pointer;
      height: 28px;
      line-height: 18px;
      padding: 5px 20px;
      font-size: 13px;
      font-weight: normal;

      display: flex;
      align-items: center;
      &:hover {
        background: var(--tab-item-bg);
        color: var(--main-color);
      }
      i {
        margin-right: 10px;
      }
      &::before {
        display: block;
        content: "";
        width: 16px;
        height: 16px;
        margin-right: 10px;
        border-radius: 50%;
        border: 2px solid var(--placeholder-color);
        transition: border 400ms;
      }
      &.activeItem {
        &::before {
          border: 5px solid #1a8cff;
        }
      }

      &__title {
        cursor: auto;
        color: var(--main-color);
        background: transparent;
        &:hover {
          color: var(--main-color);
          background: transparent;
        }
        &::before {
          display: none;
        }
      }
    }
  }

  &__search {
    // margin-left: auto;
    position: relative;

    &-icon {
      position: absolute;
      top: 50%;
      left: 12px;
      transform: translateY(-50%);

      color: var(--input-bg);
      font-size: 13px;
      font-weight: 500;
      line-height: 1;
    }

    &-input {
      width: 200px;
      height: 32px;
      padding: 0 12px 0 32px;

      background-color: var(--main-area-bg); // as all form
      border: 1px solid var(--input-bg);

      border-radius: 4px;
      color: var(--main-color);
      font-size: 13px;
      font-weight: 500;

      line-height: 1;
      overflow: hidden;

      transition: all 250ms ease-in-out;

      &:hover {
        border: 1px solid var(--focus-input-border-color);
        outline: none;
      }

      &:focus {
        border: 1px solid var(--focus-input-border-color);
        outline: none;
      }

      &::placeholder {
        color: var(--input-bg);
      }
    }
  }

  // previou version notification button
  /* &__notification-btn {
    height: 36px;
    width: 36px;
    margin-left: 5px;
    margin-top: 1px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 4px;
    border: 1px solid var(--input-bg);
    background-color: var(--main-area-bg);
    outline: none;
    box-shadow: none;
    cursor: pointer;

    color: var(--dropdown-border);
    font-size: 12px;
    font-weight: 500;
    line-height: 1;

    transition: 300ms;

    &:hover,
    &:focus {
      border: 1px solid var(--focus-input-border-color);
      color: var(--main-color);
    }
  } */

  &__notification-btn {
    margin-top: -3px;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 24px;
    height: 24px;
    border-radius: 3px;

    border: none;
    background-color: transparent;
    outline: none;
    box-shadow: none;
    cursor: pointer;

    color: var(--vscode-icon-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    transition: 300ms;
    position: relative;

    &:hover {
      background-color: var(--hover-link-bg);
    }
  }

  &__content {
    margin-top: 25px;
    &.subcomment-content {
    }
  }

  // post item
  &__post {
    // width: 100%;
    // border-radius: 6px;
    // border: 1px solid var(--dropdown-border);
    // background-color: var(--main-area-bg);
    // padding: 15px;
    color: var(--main-color);

    display: flex;
    align-items: flex-start;

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
  &__post-votes {
    width: 32px;
    height: 32px;
    margin-right: 15px;

    border-radius: 4px;
    // border: 1px solid var(--dropdown-border);
    border: none;
    background-color: var(--btn-bg);
    outline: none;
    box-shadow: none;
    cursor: pointer;

    color: var(--secondary-color);
    font-size: 12px;
    font-weight: 500;
    line-height: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    transition: 300ms;

    &:hover {
      // border: 1px solid var(--focus-input-border-color);
      color: var(--main-color);
      background-color: var(--btn-bg-hover);
    }
    i {
    }
    .votes-count {
    }
  }

  &__post-link {
    width: 100%;
    color: var(--main-color);
    text-decoration: none;

    display: flex;
    align-items: flex-start;

    &:hover {
      cursor: pointer;
      text-decoration: none;

      .fb-posts__post-type,
      .fb-posts__post-details {
        color: var(--description-text-color-hover);
      }
    }

    &.inactive {
      &:hover {
        cursor: auto;
        text-decoration: none;
      }
    }
  }
  &__post-body {
    flex-basis: 90%;
  }
  &__post-comments {
    flex-basis: 10%;

    display: flex;
    align-items: flex-start;
    justify-content: flex-end;

    margin-top: 2px;

    i {
      font-size: 14px;
      line-height: 1;
      color: var(--secondary-color);
      margin-right: 4px;
    }
    .comments-counter {
      font-size: 14px;
      line-height: 1;
      color: var(--main-color);
      margin-top: -2px;
    }
  }
  &__post-title {
    font-size: 15px;
    font-weight: 600;
    line-height: 1;
    color: var(--main-color);
    text-transform: capitalize;
    margin-bottom: 10px;
  }
  &__post-type {
    font-size: 12px;
    font-weight: 600;
    line-height: 1.25;
    color: var(--description-text-color);
    text-transform: uppercase;
    margin-bottom: 10px;
    transition: color 300ms;
    &.selected-comment {
      color: var(--description-text-color-hover);
    }
  }
  &__post-details {
    margin: 0;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.15;
    color: var(--description-text-color);
    transition: color 300ms;
    &.selected-comment {
      color: var(--description-text-color-hover);
    }
  }

  &__post-autor {
    display: flex;
    align-items: center;
    // margin-bottom: 5px;
  }
  &__user-avatar {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: var(--secondary-color);
    margin-right: 15px;
    position: relative;
    &--admin {
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: var(--tab-item-bg);
      border: 1px solid var(--main-color);

      display: flex;
      align-items: center;
      justify-content: center;

      position: absolute;
      bottom: 0;
      right: 0;

      i {
        display: block;
        color: var(--accent-color);
        font-size: 7px;
        line-height: 1;
      }
    }
  }
  &__user-name {
    font-size: 14px;
    line-height: 1;
    font-weight: 500;
    color: var(--main-color);
  }

  &__post-time {
    margin-left: 51px;
    font-size: 12px;
    font-weight: 400;
    line-height: 1;
    color: var(--description-text-color);
  }

  &__subcomment-input-form {
    margin: 25px 0;
    padding-left: 51px;
    position: relative;
  }
  &__subcomment-input {
    // margin-bottom: 10px;
    &:focus {
      border-radius: 6px 6px 0 0;
    }
  }
  &__subcoment-input-select-menu {
    width: 100%;
  }
  &__subcomment-container {
  }
  &__subcomment-control-buttons {
    display: flex;
    align-items: center;
    padding-left: 51px;
    span,
    button {
      font-size: 14px;
      font-weight: 600;
      line-height: 1;
      margin-bottom: 10px;
      color: var(--secondary-color);
    }
    button {
      border: none;
      outline: none;
      box-shadow: none;
      background-color: transparent;
      cursor: pointer;

      &.activeSort {
        position: relative;
        &::after {
          display: block;
          content: "";
          position: absolute;
          top: calc(100% + 2px);
          left: 0;

          width: 100%;
          height: 1px;
          background-color: var(--secondary-color);
        }
      }
    }
    .fb-sort-newest {
      margin-left: auto;
      margin-right: 10px;
    }
    .fb-sort-oldest {
    }
  }
  &__subcomment-admin-title {
    padding-left: 51px;

    font-size: 15px;
    font-weight: 600;
    line-height: 1;
    color: var(--accent-color);
    text-transform: capitalize;
    margin-bottom: 10px;
  }
  &__subcomment-item {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
    &.admin-answer {
      padding: 10px;
      border: 1px solid var(--accent-color);
      border-radius: 6px;
    }
  }
  &__subcomment-message {
    margin: 0;
    margin-bottom: 5px;
    padding-left: 51px;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.15;
    color: var(--description-text-color);
  }
}
