.blueOcean {
  /* Main User Layout */
  .inv-bottom-footer {
    background: #ff3333 !important;
    border-top: 1px solid $bg-border;
  }

  .inv-main-layout {
    background: #000;
    color: #000;
    .inv-main-container {
        .inv-top-Navbar {
            background: $bg-dark0;
        }
    }
  }

  .inv-navbar-menu {
    background: $bg-dark4;
    .undo-redo-item {
        .inv-nav-link {
            color: $color1;
            border-bottom: 2px solid transparent;
            &:hover{
                background: $bg-dark6;
            }
        }
    }
    .inv-nav-item {
        .inv-nav-link {
            color: $color2;
            border-bottom: 2px solid transparent;
        }
        .inv-active {
            border-bottom: 2px solid #2e00d6;
        }
    }
  }

  .btn-inv-nav-link {
    background: $bg-dark4;
    color: $color1;
    &:hover {
        background: $bg-dark6;
    }
  }

  .inv-dropdown .inv-dropbtn {
    color: $color2;
  }

  .inv-navbar a:hover, .inv-dropdown:hover .inv-dropbtn {
    color: $color1;
  }

  .inv-dropdown-content {
    background-color: $bg-dark2;
  }

  .inv-dropdown-content a {
    color: $color2;
    &:hover {
        background-color: $bg-dark3;
    }
  }

  .inv-main-layout {
    .dropdown {
      .dropdown-menu {
        background: $bg-dark5 !important;
        .dropdown-item {
          color: $color2 !important;
          &:hover {
            background: $bg-dark4;
            color: $color1 !important;
          }
        }
      }
    }
  }

  .inv-update-tab-input {
    border: 1px solid rgba(255,255,255,.2);
    color: #ccc;
    &::placeholder {
        color: $color2;
    }
  }

  .inv-update-tab-btn {
    color: #14a800;
    &:disabled {
        background: transparent;
        color: #fff;
        &:hover {
          background: transparent;
          color: #ccc;
        }
    }
    &:hover {
        background: rgba(255,255,255,.2);;
    }
  }

  .deleteConfirmModal {
    background-color: $bg-dark4;
    color: $color1;
  }

  .delete-modal-header {
    background-color: $bg-dark3;
    color: $color1;
  }
  .delete-modal-body {
    background-color: $bg-dark4;
    color: $color1;
  }

  .pane-item-container {
    &:hover::-webkit-scrollbar-thumb {
      background: rgba(255, 255, 255, 0.2) !important;
    }
  }

  .selected-pane {
    border-top: 2px solid #2e00d6 !important;
    .delete-pane-btn {
      background: transparent;
      &:hover {
        background: $bg-dark4 !important;
      }
    }
  }

  .cdk-drag-preview {
    background: $bg-dark3;
    color: $color1;
    button {
        color: $color1;
    }
  }

  .inv-dynamic-navs {
    background: $bg-dark4;
    .inv-tabs-list {
        .inv-add-tab-item {
            color: $color2;
            .inv-add-tab-box {
                .inv-add-tab-overlay {
                    background: $bg-dark2;
                    .inv-add-tab-input {
                        border: 1px solid $bg-border;
                        color: $color1;
                        &::placeholder {
                            color: $color2;
                        }
                    }
                    .inv-button-sm {
                        &:disabled {
                            color: #ccc;
                            &:hover {
                              color: #ccc;
                            }
                        }
                        &:hover {
                            background: $bg-dark4;
                        }
                    }
                    .inv-text-success {
                        color: #14a800;
                    }
                    .inv-text-danger {
                        color: #b31c1c;
                    }
                }
            }
            .inv-add-tab-btn {
                color: $color2;
            }
            &:hover {
                .inv-add-tab-btn {
                  background: rgba(255,255,255,.2);
                  color: $color1;
                }
            }
        }
        .inv-next-prev-tab {
            background: $bg-dark4;
            color: $color2;
            .inv-next-prev-btn {
                color: $color2;
                &:hover {
                    background: $bg-dark2;
                }
                &:disabled {
                    color: #454545;
                    background: #303030;
                    &:hover {
                      color: #454545;
                      background: #303030;
                      cursor: default !important;
                    }
                }
            }
        }
        .inv-tab-item {
            background: $bg-dark4;
            color: $color2;
            .inv-delete-tab-btn {
                color: $color1;
                &:hover {
                    background: rgba(255,255,255,.2);
                }
            }
            &:hover {
                background: $bg-dark3;
            }
        }
        .inv-active-tab {
            background: $bg-dark3 !important;
        }
    }
  }

  .example-custom-placeholder {
    background: $bg-dark2 !important;
    border: dotted 3px $bg-dark4;
  }


  /* Split Gutter Horizontal & Vertical*/
  .horizontal ::ng-deep .as-split-gutter {
    background-color: $bg-dark2 !important;
    &:hover {
        background-color: #003cff !important;
    }
  }
  .vertical ::ng-deep .as-split-gutter {
    background-color: $bg-dark2 !important;
    &:hover {
        background-color: #003cff !important;
      }
  }

  .alert-container {
    .alert-box {
        background-color: $bg-dark4;
        .new-window-link {
            color: $color1;
            &:hover {
                color: #00a2ff;
            }
        }
    }
  }

  ::ng-deep .p-confirm-popup {
    background: $bg-dark2 !important;
    color: $color1;
    &:before {
        border-bottom-color: $bg-dark2;
    }
    &:after {
        border-bottom-color: $bg-dark2;
    }
    .p-confirm-popup-reject {
        background: $bg-dark4 !important;
        color: $color2;
        &:hover {
          color: $color1 !important;
        }
    }
    .p-confirm-popup-accept {
        background: #2e00d6;
        &:hover {
          background: #2300a0;
        }
    }
  }
}
