<div>
  <div class="inv-card inv-m-auto inv-text-center">
    <img src="assets/images/logo/logo-placeholder.png" class="auth-logo inv-mb-1 inv-mt-5" alt="">
    <h4 class="inv-card-title inv-title-color" style="font-size: 36px;">Congratulations, your account has beed verified.</h4>
  </div>
  <div class="inv-card inv-text-center inv-m-auto">
    <h4 class="inv-parag"><a routerLink="/login" class="inv-text-link" style="font-size: 18px;">Click here to <strong>Log in</strong></a>.</h4>
  </div>
</div>
