.main-logo-container {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  position: absolute;
  justify-content: center;

  .svg-content {
    width: 300px;
    height: 400px;
    margin: calc(50vh - 200px) auto;
    background: transparent;
    text-align: center !important;
    .createNewAreaLink {
      color: var(--topbar-color);
      text-decoration: none;
      cursor: pointer;
      &:hover {
        color: var(--main-area-color);
      }
    }
    small {
      color: var(--topbar-color);
    }
    svg {
      width: 200px !important;
      height: 200px !important;
      fill: var(--svg-big-icon-bg);
    }
  }
}

.bi {
  padding: 0 !important;
  margin: 0 !important;
}

.inv-bottom-footer {
  width: 100vw;
  height: 20px;
  background: var(--bottom-nav-bg) !important;
  /*border-top: 1px solid var(--bottomnav-border) !important;*/
}

.inv-top-Navbar {
  width: 100%;
  height: 37px;
  line-height: 37px;
  padding: 0;
  background: var(--top-bar-bg);
  color: var(--secondary-color);
  margin-top: 0px;
}

.inv-main-container {
  /*height: calc(100vh - 52px);
    width: 100%;
    background: transparent;
    position: relative;
    min-width: 100px;
    overflow-x: scroll;
    &::-webkit-scrollbar {
      height: 0px !important;
      background: transparent !important;
      border-radius: 0px !important;
    }
    &::-webkit-scrollbar-thumb {
      background: transparent !important;
      border-radius: 0px !important;
    }
    */
}
.inv-right-side {
  width: auto !important;
  z-index: 20 !important;
}

.main-area-container {
  height: calc(100vh - 70px);
  margin-top: 0px;
  padding: 0 !important;
}

.inv-navbar-menu {
  width: 90px !important;
  height: 37px;
  top: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  list-style: none;
  vertical-align: middle !important;
  align-items: center;
  text-align: right;
  justify-content: end;
  background: var(--tabs-bar-bg);
  z-index: 100;
  button {
    margin-top: -1px !important;
  }
  .dropdown-menu {
    margin-top: -2px !important;
  }
}

.btn-inv-nav-link {
  width: 30px;
  height: 30px;
  background: var(--tab-item-bg);
  color: #fff;
  border: none;
  outline: none;
  transition: all 0.3s ease-in-out;
  &:hover {
    background: var(--main-area-bg);
  }
}

.dropdown {
  .dropdown-menu {
    background: var(--dropdown-bg) !important;
    min-width: 250px;
    color: var(--topbar-color);
    margin-left: 7px !important;
    .dropdown-item {
      color: var(--topbar-color);
      cursor: pointer;
      height: 28px;
      line-height: 18px;
      padding: 5px 20px;
      font-size: 13px;
      font-weight: normal;
      border-radius: 0 !important;
      &:hover {
        // background: var(--dropdown-item-hover-bg);
        background: var(--tab-item-bg);
        color: var(--main-color) !important;
      }
      i {
        margin-right: 10px;
      }
    }
  }
}

.splitDropdown {
  margin-top: 30px !important;
}

.inv-tab-input {
  height: 28px;
  width: 150px;
  border: none;
  margin: auto 4px;
  border-radius: 0 !important;
  background: var(--input-bg);
  border: 1px solid var(--input-bg-different);
  color: var(--main-color);
  font-size: 12px;
  font-weight: thin;
  &::placeholder {
    color: var(--placeholder-color);
    font-weight: thin !important;
    font-size: 10px !important;
  }
  &:focus {
    border: 1px solid var(--focus-input-border-color);
  }
}

.inv-update-tab-btn {
  width: 20px;
  height: 20px;
  border-radius: 3px;
  background: transparent;
  z-index: 2;
  font-size: 18px;
  border: none;
  color: var(--success-color);
  line-height: 20px;
  transition: 0.5s;
  margin: auto 0;
  &:disabled {
    background: transparent;
    color: var(--main-color);
    &:hover {
      background: transparent;
      color: var(--secondary-color);
    }
  }
  &:hover {
    background: rgba(255, 255, 255, 0.2);
  }
}

.deleteConfirmModal {
  width: 400px !important;
  margin-top: 80px;
  background-color: var(--dropdown-bg) !important;
  color: var(--main-color);
}

.delete-modal-header {
  position: relative;
  background-color: #3c3c3c !important;
  border-bottom: none;
  color: #fff;
  .btn {
    box-shadow: none;
    transition: 0.4s;
    &:hover {
      transform: rotate(180deg);
    }
  }
  .modal-title {
    margin: 0 auto;
  }
  .close-btn {
    top: 15px;
    right: 15px;
    position: absolute;
  }
}
.delete-modal-body {
  background-color: #2c2c2c !important;
  color: #f7f8f9;
}

.dir-row {
  display: flex !important;
  flex-direction: row !important;
}

.pane-item-container {
  color: var(--main-area-color);
  position: relative !important;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  &:hover::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.2) !important;
  }
  &::-webkit-scrollbar {
    width: 3px !important;
    background: transparent !important;
    border-radius: 0px !important;
  }
  &::-webkit-scrollbar-thumb {
    background: transparent !important;
    border-radius: 0px !important;
  }
}
.pane-item {
  /*border-top: transparent solid 3px !important;*/
}
.selected-pane {
  /*border-top: 3px solid #2e00d6 !important;*/
  height: 100%;
  background: var(--main-area-bg);
  .delete-pane-btn {
    display: block !important;
    background: var(--main-area-bg) !important;
    color: var(--vscode-icon-color) !important;
    &:hover {
      background: var(--btn-sm-hover) !important;
    }
  }
  .fullScreen-pane-btn {
    display: block !important;
    background: var(--main-area-bg) !important;
    color: var(--vscode-icon-color) !important;
    &:hover {
      background: var(--btn-sm-hover) !important;
    }
  }
}
.delete-pane-btn {
  display: none;
  top: 5px;
  right: 8px;
  position: absolute;
  outline: none;
  border: none;
  box-shadow: none;
  transition: 0.5s;
}
.fullScreen-pane-btn {
  display: none;
  top: 5px;
  right: 40px;
  position: absolute;
  outline: none;
  border: none;
  box-shadow: none;
  transition: 0.5s;
}

.inv-dynamic-navs {
  top: 0;
  left: 0;
  right: 0;
  position: absolute;
  height: 35px;
  background: var(--tabs-bar-bg);
  z-index: 10;
  .inv-tabs-list {
    display: flex;
    background: transparent;
    line-height: 35px;
    padding: 0 50px 0 0 !important;
    max-width: calc(100vw - 180px);
    min-width: calc(100vw - 180px);
    height: 35px;
    overflow-x: auto;
    &:hover {
      height: 35px;
    }
    &:hover::-webkit-scrollbar-thumb {
      background: rgba(255, 255, 255, 0.2) !important;
    }
    &::-webkit-scrollbar {
      height: 3px !important;
      background: transparent !important;
      border-radius: 0px !important;
    }
    &::-webkit-scrollbar-thumb {
      background: transparent !important;
      border-radius: 0px !important;
    }
    .inv-add-tab-item {
      margin: 0;
      background: transparent;
      padding: 0;
      color: var(--secondary-color);
      height: 35px;
      transition: 0.5s;
      z-index: 0;
      display: flex;
      flex-direction: row;
      position: relative;
      .inv-add-tab-box {
        .inv-add-tab-overlay {
          height: 35px;
          width: 210px;
          background: var(--tab-item-bg);
          position: relative;
          line-height: 29px;
          display: flex;

          .inv-button-sm {
            width: 20px;
            height: 20px;
            border-radius: 1px;
            background: transparent;
            margin: auto 2px;
            border: none;
            padding: 0;
            line-height: 22px;
            transition: 0.5s;
            &:disabled {
              background: transparent;
              color: #ccc;
              &:hover {
                background: transparent;
                color: #ccc;
              }
            }
            &:hover {
              background: rgba(255, 255, 255, 0.2);
            }
          }
          .inv-text-success {
            color: var(--success-color);
          }
          .inv-text-danger {
            color: var(--danger-color);
          }
        }
      }
      .inv-add-tab-btn {
        width: 24px;
        height: 24px;
        border-radius: 3px;
        background: transparent;
        z-index: 2;
        margin: 5px;
        font-size: 18px;
        padding: 0 !important;
        border: none;
        line-height: 20px;
        padding-top: 1px;
        color: var(--secondary-color);
        transition: 0.5s;
      }
      &:hover {
        .inv-add-tab-btn {
          background: var(--hover-link-bg);
          color: var(--main-color);
        }
      }
    }
    .inv-next-prev-tab {
      margin: 0;
      background: var(--tab-item-bg);
      padding: 0;
      color: var(--secondary-color);
      height: 35px;
      transition: 0.5s;
      z-index: 0;
      display: flex;
      flex-direction: row;
      position: relative;
      .inv-next-prev-btn {
        min-width: 35px !important;
        min-height: 35px !important;
        background: transparent;
        border: none;
        outline: none;
        color: var(--secondary-color);
        font-size: 16px;
        &:hover {
          background: var(--bg-dark2);
        }
        &:disabled {
          color: var(--disabled-color);
          background: var(--tabs-bar-bg);
          &:hover {
            color: var(--disabled-color);
            background: var(--tabs-bar-bg);
            cursor: default !important;
          }
        }
      }
    }
    .inv-tab-item {
      margin: 0;
      background: var(--tab-item-bg);
      padding: 0 26px 0 15px;
      color: var(--secondary-color);
      height: 100%;
      transition: 0.5s;
      display: flex;
      flex-direction: row;
      position: relative;
      border-right: 1px solid var(--main-area-bg) !important;
      &:focus {
        cursor: move !important;
      }

      .tab-name {
        height: 30px;
        background: transparent;
        padding: 0 8px;
        cursor: pointer;
        font-size: 13px;
        color: var(--tab-name-color) !important;
      }
      .inv-delete-tab-btn {
        width: 20px;
        height: 20px;
        border-radius: 3px;
        background: transparent;
        color: var(--main-color);
        z-index: 2;
        margin: 4px 7px;
        font-size: 13px;
        line-height: 1;
        padding: 0 !important;
        padding-top: -3px !important;
        display: none;
        top: 0;
        right: 0;
        bottom: 0;
        position: absolute;
        transition: 0.5s;
        outline: none !important;
        border: none !important;
        &:hover {
          background: var(--hover-link-bg);
        }
      }
      &:hover {
        background: var(--main-area-bg);
        .inv-delete-tab-btn {
          display: block;
          outline: none !important;
        }
      }
    }
    .inv-active-tab {
      background: var(--main-area-bg) !important;
      .tab-name {
        color: var(--active-tab-name) !important;
      }
      .inv-delete-tab-btn {
        display: block;
      }
    }
  }
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.example-custom-placeholder {
  background: var(--tab-item-bg) !important;
  border: none;
  width: 150px;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.inv-tabs-list.cdk-drop-list-dragging .inv-tab-item:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

::ng-deep .p-confirm-popup {
  background: #3c3c3c !important;
  color: #f7f8ff !important;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.05) !important;
  &:before {
    border: solid transparent;
    border-bottom-color: #3c3c3c;
  }
  &:after {
    border-bottom-color: #3c3c3c;
  }
  .p-confirm-popup-reject {
    background: #444 !important;
    color: var(--secondary-color);
    &:hover {
      color: var(--main-color) !important;
    }
  }
  .p-confirm-popup-accept {
    background: #2e00d6;
    &:hover {
      background: #2300a0;
    }
  }
  .p-confirm-popup-reject,
  .p-confirm-popup-accept {
    box-shadow: none !important;
    outline: none !important;
    border: none !important;
    padding: 5px 12px !important;
  }
}

.tabsright-btn-item {
  min-width: 24px !important;
  min-height: 24px !important;
  max-width: 24px !important;
  max-height: 24px !important;
  outline: none;
  background: transparent;
  color: var(--vscode-icon-color);
  border: none;
  margin-right: 3px;
  transition: 0.3s;
  border-radius: 3px;
  font-size: 16px;
  padding: 0;
  line-height: 20px;
  text-align: center;
  &:hover,
  &:focus {
    background: var(--hover-link-bg);
  }

  svg {
    width: 20px;
    height: 20px;
    margin: 0;
    stroke: var(--topbar-color);
  }
}

/*.delete-pane-btn {
  display: none;
  top: 5px;
  right: 8px;
  position: absolute;
  outline: none;
  border: none;
  box-shadow: none;
  transition: 0.5s;
}
.fullScreen-pane-btn {
  display: none;
  top: 5px;
  right: 40px;
  position: absolute;
  outline: none;
  border: none;
  box-shadow: none;
  transition: 0.5s;
}*/
.delete-fullScreen-btn {
  min-width: 24px !important;
  min-height: 24px !important;
  max-width: 24px !important;
  max-height: 24px !important;
  line-height: 20px !important;
  font-size: 16px !important;
  display: none;
  outline: none;
  border: none;
  box-shadow: none;
  transition: 0.3s;
  background: var(--main-area-bg);
  color: var(--vscode-icon-color);
  padding: 2px;
  margin-right: 3px;
  border-radius: 3px;
  &:hover {
    background: var(--hover-link-bg) !important;
  }
}
.delete-pane-btn {
  right: 5px;
  top: 7px;
  position: absolute;
}
.fullScreen-pane-btn {
  right: 32px;
  top: 7px;
  position: absolute;
  padding-top: 3px !important;
}

/* =================== Main Content (tabs bar && Splitting Areas) ===================*/

.main-area-content-box {
  border-top-left-radius: 6px;
}
.tabs-container {
  position: relative;
  height: 37px;
  width: 100% !important;
  background: var(--tabs-bar-bg);
  z-index: 10 !important;
  border-radius: 0 0 0 0;
  .tabs-content {
    max-width: calc(100vw - 314px) !important;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    background: transparent;
    padding: 0 50px 0 0 !important;
    height: 37px;
    list-style: none;
    .inv-tab-item {
      width: auto;
      margin: 0;
      background: var(--tab-item-bg);
      padding: 0 10px 0 10px;
      color: var(--secondary-color);
      height: 37px;
      line-height: 37px;
      transition: 0.5s;
      display: flex;
      flex-direction: row;
      border-right: 1px solid var(--main-area-bg) !important;
      .tab-name {
        height: 37px;
        background: transparent;
        line-height: 37px;
        padding: 0 8px;
        cursor: pointer;
        font-size: 13px;
        color: var(--tab-name-color) !important;
      }
      .dropcontainer {
        overflow: visible;
        margin-left: 12px;
        .dropdown {
          position: initial;
          padding-top: 1px;
          line-height: 31px !important;
          .inv-delete-tab-btn {
            width: 20px;
            height: 20px;
            border: none;
            outline: none;
            background: transparent;
            color: var(--main-area-color);
            padding: 0;
            line-height: 17px;
            transition: 0.5s;
            border-radius: 2px;
            font-size: 12px;
            opacity: 0;
            &:hover {
              background: var(--hover-link-bg);
            }
          }
        }
      }
      &:hover {
        .inv-delete-tab-btn {
          opacity: 1 !important;
        }
      }
    }
    .inv-active-tab {
      background: var(--main-area-bg) !important;
      .tab-name {
        color: var(--active-tab-name) !important;
      }
      .inv-delete-tab-btn {
        opacity: 1 !important;
      }
    }
    .inv-add-tab-item {
      margin: 0;
      background: transparent;
      padding: 0;
      color: var(--secondary-color);
      height: 37px;
      transition: 0.5s;
      z-index: 0;
      display: flex;
      flex-direction: row;
      position: relative;
      line-height: 37px;
      vertical-align: middle;
      align-items: center;
      .inv-add-tab-overlay {
        height: 37px;
        width: 210px;
        background: var(--tab-item-bg);
        position: relative;
        display: flex;

        .inv-button-sm {
          width: 20px;
          height: 20px;
          border-radius: 2px;
          background: transparent;
          margin: auto 2px;
          border: none;
          padding: 0;
          line-height: 22px;
          transition: 0.5s;
          &:disabled {
            background: transparent;
            color: #ccc;
            &:hover {
              background: transparent;
              color: #ccc;
            }
          }
          &:hover {
            background: rgba(255, 255, 255, 0.2);
          }
        }
        .inv-text-success {
          color: var(--success-color);
        }
        .inv-text-danger {
          color: var(--danger-color);
        }
      }
      .inv-add-tab-btn {
        width: 20px;
        height: 20px;
        border-radius: 2px;
        background: transparent;
        z-index: 2;
        font-size: 18px;
        padding: 0 !important;
        border: none;
        line-height: 20px;
        padding-top: 1px;
        color: var(--secondary-color);
        transition: 0.5s;
        margin-left: 6px;
      }
      &:hover {
        .inv-add-tab-btn {
          background: var(--hover-link-bg);
          color: var(--main-color);
        }
      }
    }
    &::-webkit-scrollbar {
      height: 0px !important;
      background: transparent !important;
      border-radius: 0px !important;
    }
    &::-webkit-scrollbar-thumb {
      background: var(--scroll-tabs-bg) !important;
      border-radius: 0px !important;
      z-index: 10;
    }
    &:hover::-webkit-scrollbar {
      height: 2px !important;
    }
  }
}
.tabs-body-container {
  height: calc(100% - 35px);
  width: 100%;
  padding: 0 !important;
  background: transparent;
  overflow: hidden;
}
.inv-active-tab-content {
  display: block;
}

.extra-item {
  display: none;
  top: 35px;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 9 !important;
  background: var(--main-area-bg) !important;
  color: #fff;
  .pane-item-container {
    position: relative !important;
    .exit-pane-fullScreen-btn {
      min-width: 24px !important;
      min-height: 24px !important;
      max-width: 24px !important;
      max-height: 24px !important;
      line-height: 16px !important;
      padding: 2px;
      margin-right: 3px;
      border-radius: 3px;
      top: 8px;
      right: 8px;
      position: absolute;
      color: var(--vscode-icon-color);
      background: var(--main-area-bg);
      &:hover {
        background: var(--btn-sm-hover);
      }
    }
  }
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 2px;
  background: #2d2d2d55 !important;
  color: #f7f8f9 !important;
  list-style: none;
  font-size: 14px;
  line-height: 35px;
  padding: 0 12px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  button {
    background: transparent;
    border: none;
    outline: none;
    color: var(--splitter-background-hover) !important;
    margin-left: 25px;
  }
}

.horizontal {
  background: transparent !important;
  padding: 0 !important;
}
.three-splitArea {
  width: calc(100% + 14px) !important;
}
.two-splitArea {
  width: calc(100% + 7px) !important;
}

.horizontal::ng-deep .as-split-gutter {
  background-color: var(--splitter-background) !important;
  border-right: 0px solid var(--tab-name-color) !important;
  max-width: 4px !important;
  transition: 0.3s;
  .as-split-gutter-icon {
    background-image: none !important;
    width: 0 !important;
    height: 0 !important;
    border: none !important;
  }
  &:hover {
    background-color: var(--splitter-background-hover) !important;
  }
}
.vertical ::ng-deep .as-split-gutter {
  background-color: var(--splitter-background) !important;
  max-height: 4px !important;
  max-width: 100% !important;
  transition: 0.3s;
  .as-split-gutter-icon {
    background-image: none !important;
  }
  &:hover {
    background-color: var(--splitter-background-hover) !important;
  }
}
::ng-deep .as-split-gutter-icon {
  color: var(--main-color) !important;
}

.component-links-container {
  list-style: none;
  display: flex;
  margin: 0;
  width: fit-content;
  padding: 0;
  .inv-nav-link {
    // color: var(--topbar-color);
    color: var(--secondary-color);
    transition: 0.1s;
    // border-radius: 3px;
    padding: 3px 6px 4px;
    background: transparent;
    font-size: 11px;
    font-weight: 600;
    border: 1px solid transparent;
    outline: none;
    // margin-bottom: 2px !important;
    height: 100% !important;
    line-height: 0.9 !important;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;

    min-width: 54px;

    &:hover {
      background: rgba(255, 255, 255, 0.1);
      /*color: var(--topbar-color-active);*/
    }

    i {
      font-size: 14px;
      line-height: 1;
      margin-bottom: 2px;
    }
    // links in right side of top-navbar
    &.in-right-side {
      flex-direction: row;

      padding: 0;

      i {
        margin-bottom: 0;
        margin-right: 5px;
        font-weight: 900;
        font-style: normal;
      }
    }
    // accent for active button
    &.activeComponent {
      background-color: var(--accent-color);
      border: 1px solid var(--active-topnavbar-btn-border);
      box-shadow: inset 0px 1px 0px 0px var(--active-topnavbar-btn-inset-shadow);
      padding-top: 6px;
      &--right-side {
        padding-top: 3px;
      }
    }

    // for svg-icons
    &__icon-svg {
      display: block;
      width: 14px;
      height: 14px;
      margin-bottom: 2px;
    }
  }
}

.company-in-tabs {
  line-height: 33px;
  font-size: 12px;
  width: 92px;
  padding: 0 10px;
}

.company-ticker {
  margin: 2px 0;
  padding: 0 8px 0 4px;
  border-radius: 4px;
  width: 100%;
  &:hover {
    background: var(--monochrome-transparent);
  }
}
