.profile-user-box {
  display: flex;
  align-items: center;
}
.profile-user-avatar {
  width: 42px;
  height: 42px;
  margin-right: 15px;
  border-radius: 50%;
  overflow: hidden;
  background-color: var(--accent-color);
}
.profile-user-name {
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 3px;
}
.profile-user-desc {
  font-size: 14px;
  line-height: 1;
  color: var(--description-text-color);
}
.avatar {
  margin: -2%;
  width: 104%;
  height: 104%;
  border-radius: 50%;
  object-fit: cover;
}
