<h1 class="pt-5 text-center">Dashboard for {{selectedCompany?.name}}</h1>



<!--

  <div
    class="rectangle"
    [ngStyle]="style"
    mwlResizable
    [validateResize]="validate"
    [enableGhostResize]="true"
    [resizeSnapGrid]="{ left: 1, right: 1 }"
    (resizeEnd)="onResizeEnd($event)"
  >
    Angular Resizable Element
    <div
      class="resize-handle-left"
      mwlResizeHandle
      [resizeEdges]="{ left: true }"
    ></div>
    <div
      class="resize-handle-top"
      mwlResizeHandle
      [resizeEdges]="{ top: false }"
    ></div>

    <div
      class="resize-handle-right"
      mwlResizeHandle
      [resizeEdges]="{ right: false }"
    ></div>
    <div
      class="resize-handle-bottom"
      mwlResizeHandle
      [resizeEdges]="{ bottom: false }"
    ></div>
  </div>

-->
