.sheetContainer {
  width: 100%;
  height: 100%;
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  &:hover::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.2) !important;
  }
  &::-webkit-scrollbar {
    width: 3px !important;
    background: transparent !important;
    border-radius: 0px !important;
  }
  &::-webkit-scrollbar-thumb {
    background: transparent !important;
    border-radius: 0px !important;
  }
  .save-btn {
    bottom: 24px;
    right: 12px;
    position: absolute;
  }
  .selectSheetVersion {
    right: 80px;
    top: 8px;
    position: absolute;
    background: transparent;
    color: var(--tab-name-color);
    box-shadow: none !important;
    border-color: var(--dropdown-border);
  }
}

button {
  border-radius: 4px;
  font-weight: normal !important;
  &:focus {
    box-shadow: 0px 1px 2px rgba(0, 0, 0, .5) !important;
  }
}



:host ::ng-deep .addSheetName.p-dialog {
  .p-dialog-header {
    background: var(--top-bar-bg) !important;
    color: var(--main-color) !important;
    padding: 0 22px !important;
    height: 50px !important;
    line-height: 50px;
    padding: 0;
  }
  .p-dialog-content {
    background: var(--left-sidebar-bg) !important;
    padding: 12px !important;
    height: auto !important;
    position: relative;
    overflow: hidden !important;
    .form-label {
      color: var(--main-color);
    }
    .form-control {
      background: transparent;
      color: var(--main-color);
      border-color: var(--tab-name-color);
      box-shadow: none !important;
      &:focus {
        border-color: var(--focus-input-border-color);
      }
      &::placeholder {
        color: var(--tab-name-color);
      }
    }
  }
  .p-dialog-footer {
    background: var(--top-bar-bg) !important;
    color: var(--main-color) !important;
    padding: 0 22px !important;
    height: auto !important;
    height: 50px !important;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    .p-dialog-footer-btn {
      color: var(--main-color);
      background-color: transparent;
      transition: 400ms;
      margin: 0;
      &:hover {
        background-color: rgba(255, 255, 255, 0.1);
      }
    }
  }
}

.delete-file-btn {
  height: 28px !important;
  width: 28px !important;
  margin-left: 4px !important;
  margin-top: 4px;
}
.dropdown-toggle::after {
  display:none !important;
}
.btn-transparent {
  font-weight: 500;
  padding: 0 6px;
  height: 36px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 4px;
  cursor: pointer;

  background-color: transparent;
  color: var(--topbar-color);
  border: 1px solid transparent;

  transition: backgroung-color 400ms ease-in-out;
  &:focus,
  &:hover {
    background: var(--left-sidebar-bg) !important;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
  }
}

.confirm-delete-dropdown {
  max-width: 280px;
  width: 220px;
  background: var(--left-sidebar-bg);
  color: var(--main-color);
  justify-content: center;
  font-size: 13px;
  font-weight: thin;
  .confirm-msg {
    text-align: center;
    line-height: 22px !important;
    padding-bottom: 8px;
  }
  .confirm-btn-box button {
    height: 32px;
    width: 70px;
    margin: 4px;
  }
}
.files-dropdown {
  background: var(--left-sidebar-bg);
  max-width: 450px;
  min-width: 280px;
  width: fit-content;
  color: var(--main-color);
  border-color: var(--left-sidebar-bg);
  padding: 8px;
  .copy-file-form {
    border-radius: 6px;
    border: 1px solid var(--dropdown-border);
    background-color: var(--main-area-bg);
    color: var(--main-color) !important;
    .form-label {
      color: var(--main-color) !important;
    }
  }
  .files-list-container {
    height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: 10px;
    border-radius: 6px;
    border: 1px solid var(--dropdown-border);
    background-color: var(--main-area-bg);
    color: var(--main-color) !important;
    padding-top: 10px;
    &:hover::-webkit-scrollbar-thumb {
      background: rgba(255, 255, 255, 0.08);
      border-radius: 6px;
    }
    &:hover::-webkit-scrollbar {
      width: 5px !important;
    }

    &::-webkit-scrollbar {
      width: 0px;
      background: transparent;
      border-radius: 0px;
    }

    &::-webkit-scrollbar-thumb {
      background: transparent;
      border-radius: 0px;
    }
    ul {
      background: var(--main-area-bg) !important;
      li {
        background: transparent !important;
        color: var(--main-color);
        padding: 2px 8px !important;
        line-height: 32px;
        p {
          margin: 0 6px;
          line-height: 32px !important;
        }
        input {
          padding-left: 4px !important;
        }
        .dropdown-toggle::after {
          display:none !important;
        }
      }
    }
  }
}

/*input {
  height: 32px;
  border: 1px solid var(--dropdown-border);
  margin: auto 4px;
  box-shadow: none !important;
  border-radius: 0 !important;
  background: var(--input-bg);
  border: 1px solid var(--input-bg-different);
  color: var(--main-color) !important;
  font-size: 14px;
  font-weight: thin;
  &::placeholder {
    color: var(--placeholder-color);
    font-weight: thin !important;
    font-size: 14px !important;
  }
  &:focus {
    border: 1px solid var(--focus-input-border-color);
    background: var(--input-bg) !important;
  }
}*/

.updateFileNameInput {
  background: transparent;
  border-color: transparent;
  width: 100%;
  &:focus,
  &:hover {
    border-color: var(--focus-input-border-color);
  }
}
