.note-letter-num {
    font-size: 12px; 
    color: rgb(183, 181, 180);;
}

.error-border {
border-color: red;
}
  
.error-letter {
  color: red;
  font-size: 12px;
}

.font-S12 {
  font-size: 12px;
}