<!-- Payment History -->
<div class="payment-history-wrapper">
    <h3 class="billings__title">
        <!-- <a class="return-link" (click)="return()">Manage Current Plan</a> -->
        <!-- <a class="return-arrow" (click)="return()">
            <i class="bi bi-arrow-left"></i>
        </a> -->
        <span>Payment History</span>
    </h3>
    <div class="billings__box">
        <div class="icon-profile-billings payment-history-icon"></div>
        <h4 class="billings__card-title billings__card-title--medium tac">You have not made any payments.</h4>
    </div>
</div>