.navbar {
  font-family: 'Roboto Flex', sans-serif;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  height: 50px;
  background: #051e34;
  line-height: 50px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
